.body {
      font-family: 'Times New Roman', Times, serif;
  }

  .color-box {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 15px;
  }
  #generate-button{
    color:blue;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;

  }
  .heading{
    color:rgb(255, 0, 111);
    font-size: 30px;
    font-style: oblique;
  }
